.App {
text-align: center;
}

.SearchInput{
  padding: 10px;
  width: 20%;
  margin-top: 50px;
  outline: none;
  border-radius: 5px;
  border: 2px solid lightskyblue
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f4f4f4;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaeaea;
}

.no-result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #666;
}

.Message{
  margin-top: 5px;
  font-size: 20px;
}